
.div1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

#input{
    display: flex;
    width: 94px;
    outline: none;
}

button{
    cursor: pointer;
}



/* ================================= */

.div2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

.input2{
    width: 94px;
    outline: none;
    display: flex;
}

.container{
    display: flex;
}














